* {
  box-sizing: border-box; }

body {
  background-color: #E8E6E1; }

#flyCanvas, 
#flyTrapCanvas,
#stemCanvas,
#plantPotCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
}

#flyCanvas {
  z-index: 0;
  border: solid 2px black; }

#flyTrapCanvas {
  z-index: 2; }

#stemCanvas {
  z-index: 2;  
}

#plantPotCanvas {
  z-index: 1; }
