* {
    box-sizing: border-box;
}

body {
    background-color: #E8E6E1;
}

#canvas {
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    z-index: 0;
    border: solid 2px black;
  }

  #flyTrapCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    z-index: 1;
 }

 #plantPotCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    z-index: 2;
 }

