html, body {
  height: 100%; }

body {
  margin: 0;
  background: black; }

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: white; }

canvas {
  display: block;
  margin: 0 auto;
  border: solid 3px white;
  width: 90%;
  height: 90%; }
